<h1>Abuelita Sordita</h1>

<form id="abue" action="/abuelita" method="post">
  Dile algo a tu abuelita:
  <br>
  <input type="text" name="user_input">
  <input type="submit" value="Dilo!">
</form>
<br>
<div id="abue_respond"></div><br>